<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>About Me</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <div class="about-container">
        <div class="intro card">
            <div class="card-title"><p>Hello I'm</p></div>
            <p> Autumn!</p>
        </div>
        <div class="facts card">
            <p><strong>Major: </strong>Web Design and Development</p>
            <p><strong>Projected Graduation: </strong>April 2026</p>
        </div>
        <div class="profile-pic card">
            <img src="/public/images/profile.JPG" alt="Autumn">
        </div>
        <div class="about-me card">
            <div class="card-title"><p>About Me</p></div>
            <p>I have a sweet little cat named Hobbes who enjoys watching birds from the kitchen window.</p>
            <p>I am originally from New Hampshire, currently living in Utah, and looking to move back to the East Coast.</p>
        </div>
        <div class="hobbies card">
            <div class="card-title"><p>My Hobbies</p></div>
            <ul class="hobbies-list">
                <li>Junk journaling</li>
                <li>Crocheting</li>
                <li>Any kind of craft in general</li>
                <li>Organizing</li>
                <li>Cuddling Hobbes the cat</li>
            </ul>
        </div>
        <div class="pet card">
            <div class="card-title"><p>Hobbes</p></div>
            <img src="/public/images/pet.JPG" alt="Hobbes">
        </div>
    </div>

</body>
</html>